<div id="billDashBoardTab" >

	<table id="srvcMgrTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Sl #</th>
				<th>Person Name</th>
				<th>Flat No</th>
				<th>Bill Date</th>
				<th>Bill Due Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody data-bind="foreach:billPagedGridView().pagedRecordList">
			<tr>
				<td data-bind="text:$index()+1"></td>
				<td> <span data-bind="text:persnFirstName"></span><span data-bind="text:persnLastName"></span></td>
				<td> <span data-bind="text:flatNumber"></span></td>
				<td> <span data-bind="text:billDate"></span></td>
				<td> <span data-bind="text:billDueDate"></span></td>
				<td> <span data-bind="text:billPaymentStatus"></span></td>
			</tr>
			</tbody>
			<tbody>
			<tr>
						<td colspan="7">Records/Page:<select id="records"
							data-bind="options:billPagedGridView().pageRecordOption,value:billPagedGridView().chosenPageRecord"></select>
							<button id="firstPage"
								data-bind="click:billPagedGridView().moveToFirstPage"
								title="Go to first page" >
								<span class="icon-fast-backward"></span>
							</button>
							<button id="prevPage"
								data-bind="click:billPagedGridView().moveToPrevPage"
								title="Go to prev page">
								<span class="icon-step-backward"></span>
							</button> Page:<span data-bind="text:billPagedGridView().currentPageNo"></span>
							/<span data-bind="text:billPagedGridView().noOfPages"></span>
							<button id="nextPage"
								data-bind="click:billPagedGridView().moveToNextPage"
								title="Go to next page">
								<span class="icon-step-forward"></span>
							</button>
							<button id="lastPage"
								data-bind="click:billPagedGridView().moveToLastPage"
								title="Go to last page" >
								<span class="icon-fast-forward"></span>
							</button>
						</td>
					</tr>
		</tbody>
	</table>

</div>